.cam-navigation {
	display: none;
	overflow: hidden;
	position: absolute;
	left: 50%;
	transform: translate(-50%, -50%);
	bottom: 50px;
	width: 220px;
	height: 60px;
	border-radius: 30px;
	border: 1px solid rgba(255, 255, 255, 0.2);
	border-right-color: rgba(255, 255, 255, 0.1);
	border-bottom-color: rgba(255, 255, 255, 0.1);
	flex-flow: row nowrap;
	justify-content: center;
	align-items: center;
	background-color: rgba(255, 255, 255, 0.3);
	box-shadow: 0 20px 30px rgba(0, 0, 0, 0.1);
	font-size: 1.5em;
	z-index: 1;

	@media (min-width: 0px) and (max-width: 680px) {
		bottom: 10px;
	}

	.cam-btn {
		position: relative;
		display: flex;
		overflow: hidden;
		justify-content: center;
		align-items: center;
		position: relative;
		border: none;
		outline: none;
		text-decoration: none;
		width: 60px;
		height: 100%;
		background-color: rgba(255, 255, 255, 0.45);

		&.prev-cam-btn {
			box-shadow: 5px 0px 15px rgba(0, 0, 0, 0.2);
		}
		&.next-cam-btn {
			box-shadow: -5px 0px 15px rgba(0, 0, 0, 0.2);
		}

		.icon {
			color: #20272f;
			size: 1.6em;
			height: 1.6em;
			width: 1.6em;
			polyline {
				transition: stroke 0.35s ease-in-out;
			}
		}

		&:disabled {
			background-color: rgba(255, 255, 255, 0.2);

			.icon {
				polyline {
					stroke: rgba(255, 255, 255, 0.3);
				}
			}
		}
	}

	.navigation-title {
		position: relative;
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100px;
		height: 100%;
		text-align: center;
		color: #fff;
	}
}
