.menu {
	button {
		border: none;
		background: none;
		outline: none;
		cursor: pointer;
		font-size: 1.6em;
		font-weight: 500;
		color: #fff;
		// background-color: rgba(255, 255, 255, 0.3);
		// padding: 4px 12px;
		// border-radius: 6px;
		// border: 1px solid rgba(255, 255, 255, 0.2);
		// border-right-color: rgba(255, 255, 255, 0.1);
		// border-bottom-color: rgba(255, 255, 255, 0.1);
		// box-shadow: 0 20px 30px rgba(0, 0, 0, 0.1);
	}
}

// @supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
// 	.menu button {
// 		-webkit-backdrop-filter: blur(3px);
// 		backdrop-filter: blur(3px);
// 	}
// }

// navigation
.navigation-menu {
	display: none;
	z-index: -1;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	position: fixed;
	width: 100%;
	height: 100%;

	.menu-secondary-background-color {
		background-color: #000;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		position: fixed;
		width: 100%;
		height: 100%;
		z-index: -1;
	}

	.menu-layer {
		position: relative;
		background-color: #20272f;
		height: 100%;
		overflow: hidden;

		.menu-portfolio-background {
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			position: absolute;
			height: 100%;
			width: 100%;
			background-repeat: no-repeat;
			background-size: cover;
			animation: cameraPan 30s infinite;
		}

		.container {
			height: 100%;
		}

		.wrapper {
			position: relative;
			height: 100%;

			.menu-links {
				display: flex;
				justify-content: space-between;
				align-items: center;
				position: relative;
				margin-top: 200px;

				@media (min-width: 0px) and (max-width: 280px) {
					margin-top: 120px;
				}
				@media (min-width: 281px) and (max-width: 374px) {
					margin-top: 120px;
				}
				@media (min-width: 375px) and (max-width: 660px) {
					margin-top: 140px;
				}
				@media (min-width: 661px) and (max-width: 714px) {
					margin-top: 170px;
				}
				@media (min-width: 714px) and (max-width: 720px) {
					margin-top: 120px;
				}
				@media (min-width: 721px) and (max-width: 1023px) {
					margin-top: 170px;
				}
				@media (min-width: 1024px) and (max-width: 1480px) {
					margin-top: 200px;
				}

				nav {
					display: block;

					ul {
						padding: 0;
						margin: 0;
						li {
							list-style: none;
							font-size: 6em;
							font-weight: 700;
							cursor: pointer;
							overflow: hidden;
							position: relative;
							height: 74px;
							width: 412px;

							@media (min-width: 0px) and (max-width: 280px) {
								font-size: 1.6em;
								height: 26px;
								width: 150px;
							}
							@media (min-width: 281px) and (max-width: 374px) {
								font-size: 1.6em;
								height: 26px;
								width: 150px;
							}
							@media (min-width: 375px) and (max-width: 660px) {
								font-size: 2em;
								height: 40px;
								width: 160px;
							}
							@media (min-width: 661px) and (max-width: 714px) {
								font-size: 2em;
								height: 40px;
								width: 160px;
							}
							@media (min-width: 714px) and (max-width: 720px) {
								font-size: 1.8em;
								height: 30px;
								width: 160px;
							}
							@media (min-width: 721px) and (max-width: 1023px) {
								font-size: 2.6em;
								height: 40px;
								width: 200px;
							}
							@media (min-width: 1024px) and (max-width: 1480px) {
								font-size: 2.6em;
								height: 40px;
								width: 200px;
							}

							a {
								position: absolute;
								color: #fff;
								text-decoration: none;

								&:hover {
									color: #662cec;
								}
							}
						}
					}
				}
			}

			.menu-projects {
				position: relative;
				width: 100%;
				margin-top: 60px;
				color: #fff;
				font-size: 1.2em;
				font-weight: 600;
				display: flex;
				justify-content: flex-start;
				align-items: center;
				flex-flow: row wrap;

				@media (min-width: 0px) and (max-width: 280px) {
					margin-top: 10px;
				}
				@media (min-width: 281px) and (max-width: 374px) {
					margin-top: 10px;
				}
				@media (min-width: 375px) and (max-width: 660px) {
					margin-top: 30px;
				}
				@media (min-width: 661px) and (max-width: 714px) {
					margin-top: 30px;
				}
				@media (min-width: 714px) and (max-width: 720px) {
					margin-top: 20px;
				}
				@media (min-width: 721px) and (max-width: 1023px) {
					margin-top: 30px;
				}
				@media (min-width: 1024px) and (max-width: 1480px) {
					margin-top: 60px;
				}

				div {
					margin-right: 16px;
					margin-bottom: 16px;
					cursor: pointer;
					padding: 8px 16px;
					border-radius: 16px;
					background-color: rgba(255, 255, 255, 0.3);
					transition: 0.3s ease-in-out;

					&:hover {
						background-color: #000;
					}

					&:last-child {
						margin-right: 0px;
					}

					a {
						color: #fff;
						font-weight: 500;
					}
				}
			}
		}
	}
}

@keyframes cameraPan {
	0% {
		background-position: 0% 0%;
	}
	25% {
		background-position: 40% 10%;
	}
	50% {
		background-position: 0% 10%;
	}
	75% {
		background-position: 10% 40%;
	}
	100% {
		background-position: 0% 0%;
	}
}
